* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #212121;
    /* background-color: #272727; */
}

:root {
    --fontcolor: #EC6090;
    --mainfont: "Tektur", sans-serif;
    /* --secondfont: "Big Shoulders", sans-serif; */
}