* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --DarkGrey: #212121;
    --LightGrey: #5c5a5a; 
    --pinkcolor: #EC6090;
    --mainfont: "Tektur", sans-serif;
    --secondfont: "Big Shoulders", sans-serif;
}

.MainContainer {
    width: 100%;
    background-color: var(--DarkGrey);
    padding: 3vh 7% 1vh ;
}

.MainContainer .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MainContainer .header .logo {
    width: 15%;
}

.MainContainer .header .logo img {
    width: 100%;
}

.MainContainer .header .hline {
    width: 1px;
    height: 60px;
    background-color: rgba(240, 248, 255, 0.247);
}

.MainContainer .header .search {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--LightGrey);
    border-radius: 25px;
    padding: 12px 20px;
    color: #555;
    font-size: 20px;
}

.MainContainer .header .search input {
    background-color: transparent;
    border: none;
    font-size: 17px;
    width: 80%;
    outline: none;
}

.MainContainer .header ul {
    width: 45%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-left: 50px;
}

.MainContainer .header ul li a {
    color: #666;
    text-decoration: none;
    font-family: var(--secondfont);
    font-size: 19px;
    font-weight: bold;
}

.MainContainer .header ul li a:hover,
.MainContainer .header ul .active a {
    color: var(--pinkcolor);
}

.MainContainer .header ul .profile {
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: var(--LightGrey);
    border-radius: 20px;
    padding: 5px 20px;
}

.MainContainer .header ul .profile:hover {
    background-color: var(--pinkcolor);
}

.MainContainer .header ul .profile:hover a {
    color: aliceblue;
}

.MainContainer .header ul .profile img {
    border-radius: 50%;
}

.MainContainer .content {
    width: 100%;
    padding: 5vh 5%;
    background-color: var(--LightGrey);
    border-radius: 30px;
    margin-top: 50px;
}

.MainContainer .content .bannar {
    width: 100%;
    background-image: url("../images/banner-bg.jpg");
    background-size: 100% 100%;
    padding: 7vh 5%;
    border-radius: 30px;
    color: aliceblue;
}

.MainContainer .content .bannar h1 span {
    color: var(--pinkcolor);
}

.MainContainer .content .bannar h3 {
    font-family: var(--secondfont);
    font-size: 29px;
    font-weight: bold;
}

.MainContainer .content .bannar h1 {
    font-family: var(--mainfont);
    font-size: 45px;
    margin: 35px 0;
}

.MainContainer .content .bannar button,
.MainContainer .content .popular button,
.MainContainer .content .library button {
    background-color: var(--pinkcolor);
    color: aliceblue;
    font-family: var(--secondfont);
    border-radius: 20px;
    border: none;
    font-size: 25px;
    padding: 10px 20px;
}

.MainContainer .content .bannar button:hover,
.MainContainer .content .popular button:hover,
.MainContainer .content .library button:hover {
    background-color: aliceblue;
    color: var(--pinkcolor);
} 

.MainContainer .content .popular {
    width: 100%;
    padding: 5vh 5%;
    background-color: var(--DarkGrey);
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
}

.MainContainer .content .popular h2,
.MainContainer .content .library h2 {
    color: var(--pinkcolor);
    font-family: var(--mainfont);
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: left;
}

.MainContainer .content .popular h2 span,
.MainContainer .content .library h2 span {
    color: aliceblue;
    text-decoration: underline;
}

.MainContainer .content .popular .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 50px;
}

.MainContainer .content .popular .cards .card {
    width: 23%;
    background-color: var(--LightGrey);
    padding: 20px;
    border-radius: 20px;
}

.MainContainer .content .popular .cards .card img {
    width: 100%;
    border-radius: 20px;
}

.MainContainer .content .popular .cards .card img:hover {
    transform: rotate(5deg) scale(1.1);
}

.MainContainer .content .popular .cards .card .img {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.MainContainer .content .popular .cards .card .data {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: #757373;
    font-family: var(--secondfont);
    font-size: 18px;
}

.MainContainer .content .popular .cards .card .data h3 {
    color: aliceblue;
    font-family: var(--mainfont);
}

.MainContainer .content .popular .cards .card .data .fa-star {
    color: yellow;
}

.MainContainer .content .popular .cards .card .data .fa-download {
    color: var(--pinkcolor);
}

.MainContainer .content .library {
    background-color: var(--DarkGrey);
    width: 100%;
    padding: 5vh 5%;
    border-radius: 30px;
    margin-top: 50px;
    /* margin: 50px auto; */
    text-align: center;
}

.MainContainer .content .library .gaming {
    width: 100%;
}

.MainContainer .content .library .gaming .game {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.MainContainer .content .library .gaming .game img {
    border-radius: 20px;
}

.MainContainer .content .library .gaming .game h3 {
    color: aliceblue;
    font-family: var(--mainfont);
    text-transform: capitalize;
}

.MainContainer .content .library .gaming .game p {
    color: #666;
    font-family: var(--secondfont);
    text-transform: capitalize;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.MainContainer .content .library .gaming .game button {
    background-color: transparent;
    border: 1px solid #666;
    color: #666;
    padding: 8px 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: var(--secondfont);
    border-radius: 20px;
}

.MainContainer .content .library .gaming .game .btn {
    color: var(--pinkcolor);
    border-color: var(--pinkcolor);
}

.MainContainer .footer {
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-family: var(--secondfont);
    font-size: 22px;
    margin: 50px 0 20px;
}

.MainContainer .footer span {
    color: var(--pinkcolor);
    font-family: var(--mainfont);

}

/* header */
@media screen and (max-width:920px) {
    .MainContainer .header {
        display: block;
    }

    .hline {
        display: none;
    }

    .MainContainer .header .logo {
        width: 50%;
        margin: auto;
    }

    .MainContainer .header .search {
        width: 100%;
        margin: 15px 0;
    }

    .MainContainer .header ul {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width:600px) {
    .MainContainer .header {
        display: block;
    }

    .MainContainer .header .hline {
        display: none;
    }

    .MainContainer .header .logo {
        width: 50%;
        margin: auto;
    }

    .MainContainer .header .search {
        width: 100%;
        margin: 15px 0;
    }

    .MainContainer .header ul {
        width: 100%;
        margin: 0;
    }

    .MainContainer .header ul li {
        padding: 0 7px;
    }

    .MainContainer .header ul li a {
        font-size: 14px;
    }
}